/* reset css styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: AlRiyadh;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset */

/* start custom styles */
.img-container {
  background-image: url("https://www.hw.ac.uk/dubai/img/dubai-waterfront-800x450.jpg");
  /* set background image in center and cover */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* set height and width */
  height: 70vh;
  width: 100vw;

  /* round the bottom corners */
  border-radius: 0px 0px 30px 30px;

  /* set z-index */
  z-index: 1;
}
.main-container {
  /* set background image of pattern with gradient */
  background-image: url("./pattern.svg"),
    linear-gradient(53deg, rgba(96, 206, 142, 1) 0%, rgba(5, 42, 21, 1) 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: relative;
  /* increase heigh as width get smaller */
  /* height: calc(100vw * 1.5); */

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.content-container {
  width: 90%;
  border: 2px solid #fff;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  padding: 5%;
  margin-top: -478px;
  z-index: 2;
}
.title-container {
  text-align: center;
  letter-spacing: 0px;
}
.title-container h1 {
  font: normal normal bold 57px/64px AlRiyadh;
  color: #00210f;
}
.title-container p {
  font: normal normal normal 16px/19px AlRiyadh;
  color: #4f6354;
}
.progress-container {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-top: 5%;
  background: #eaf5ed 0% 0% no-repeat padding-box;
  border-radius: 12px;
  padding: 2% 8%;
  flex-wrap: wrap;
  gap: 10px;
}
/* on tablet set to justify conetnt center */
@media (max-width: 768px) {
  .progress-container {
    justify-content: center;
  }
}
.step {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0px;
}
.step h3 {
  margin-top: 7px;
  color: #00210f;
  font: normal normal normal 16px/19px;
}
.step p {
  font: normal normal normal 12px/16px;
  color: #4f6354;
}
.step span {
  width: 32px;
  height: 32px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step span.active {
  color: white;
  background: #006d3d 0% 0% no-repeat padding-box;
}

.divider {
  flex-grow: 1;
  border: 12px solid #006d3d;
}
/* form steps */
.form-steps-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.border-bottom {
  border-bottom: 1px solid #d8e8dd;
}

.form-steps {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 460px;
}
.form-steps span {
  font: normal normal normal 16px/19px;
  color: #000000;
  font-weight: bold;
}
.form-steps span.active {
  color: #006d3d;
  border-bottom: 3px solid #00884e;
  padding: 20px 5%;
}
.form-steps-options {
  font: normal normal normal 16px/19px;
  letter-spacing: 0px;
  text-align: end;
  flex: 0.2;
}

.form-steps-options span,
.form-steps span {
  cursor: pointer;
}
.info-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: #beeaf7 0% 0% no-repeat padding-box;
  border-radius: 12px;
  margin-top: 10px;
}
.info-message div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.info-message div span {
  width: 32px;
  height: 32px;
  background: #3b6470 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
}
.info-message div span p {
  width: 15px;
  height: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-message div p {
  margin: 0;
  font: normal normal normal 16px/19px;
  color: #001f26;
}
.info-message-info {
  display: flex;
  justify-self: flex-end;
  gap: 20px;
  margin-top: 20px;
}

.info-message-info div:nth-child(1) {
  font: normal normal normal 12px/16px;
  color: #4f6354;
}
.info-message-info div:nth-child(2) {
  font: normal normal normal 16px/19px;
  color: #2c2c2c;
}

.upload-pdf-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}
.custom-heading {
  color: #2c2c2c;
  font-size: 28px;
  font-weight: bold;
  border-right: 4px solid #006d3d;
  padding-right: 15px;
}

.upload-box {
  background: #fbfdf8 0% 0% no-repeat padding-box;
  border: 1px dashed #d8e8dd;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.upload-box svg {
  transform: scale(1.5);
}

.upload-box div p {
  font-size: 19px;
  letter-spacing: 0px;
  color: #006d3d;
  margin: 0;
}
.upload-box div p span {
  font-size: 10px;
  letter-spacing: 0px;
  color: #006d3d;
}
.upload-box div span {
  font-size: 8px;
  color: #4f6354;
}
.upload-dropdown {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #4f6354;
  font-size: 19px;
}

.images-section {
  padding: 15px 0;
}
.section {
  padding: 15px 0;
}

.images-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.images-container-wrapper img {
  max-width: 352px;
  max-height: 280px;
  width: 30%;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dates-section-header p {
  margin: 0;
  font-size: 19px;
  color: #0d1f13;
  font-weight: bold;
  margin-left: 5px;
}
.dates-section-header svg {
  fill: #00210f;
}
.date-card {
  border: 1px solid #d1e8d4;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 264px;
}
.cards-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: start;
  gap: 5px;
  flex-wrap: wrap;
}
.card-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 13px;
  background-color: #deebe1;
  gap: 5px;
  height: 80px;
  width: 80px;
}

.card-date span:nth-child(1),
.card-date span:nth-child(3) {
  font-size: 12px;
  color: #4f6354;
}

.card-date span:nth-child(2) {
  font-size: 23px;
  font-weight: bold;
}
.info-card {
  margin-top: 10px;
  max-width: 352px;
  min-height: 278px;
  /* border: 1px solid #000000; */
  position: relative;
}

.info-card .info-card-img {
  width: 100%;
  min-height: 306px;
  border-radius: 10px 10px 0px 0px;
}
.info-card .info-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.info-card-content {
  position: absolute;
  top: 48px;
  width: 100%;
  box-sizing: border-box;

  background: #fbfdf8 0% 0% no-repeat padding-box;
  border: 1px solid #eaf5ed;
  border-radius: 20px;
  padding: 6px 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}
.info-card-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.info-card-content-header .user {
  display: flex;
  align-items: center;
  gap: 5px;
}
.info-card-content-header .user img {
  width: 32px;
  height: 32px;
}
.info-card-content-header .user div p {
  font-size: 21px;
  color: #2c2c2c;
  margin: 0px;
}
.info-card-content-header .user div span {
  font-size: 8px;
  color: #4f6354;
}
.info-card-content-header button {
  width: 61px;
  height: 32px;
  border: 1px solid #d8e8dd;
  border-radius: 16px;
  font-size: 21px;
  color: #006d3d;
}
.info-card-content h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #2c2c2c;
}
.info-card-content p {
  font-size: 21px;
  color: #2c2c2c;
}
.flag-wrapper {
  display: flex;
  gap: 10px;
}
.header-see-more p {
  color: #0d1f13;
  font-size: 21px;
  font-weight: bold;
  border-bottom: 2px solid #006d3d;
  padding-bottom: 7px;
}
.info-card-content .flag {
  padding: 1px 8px;
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border-radius: 12px;
  color: #808080;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card-content .flag.flag-issue {
  background: #ff9f2e1f 0% 0% no-repeat padding-box;
  color: #ff9f2e;
}
.info-card-content .flag.flag-success {
  background: #d1e8d4 0% 0% no-repeat padding-box;
  color: #006d3d;
}
.line-divider {
  border: 1px solid #d8e8dd;
  width: 100%;
  margin-top: 14px;
}
.card-cta {
  width: 223px;
  background: #006d3d 0% 0% no-repeat padding-box;
  border-radius: 16px;
  color: #ffffff;
  font-size: 21px;
  padding: 4px 0 6px 0;
  margin: 10px auto;
}
.info-cards-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
/* on tablet set justify conetcnt to center */
@media (max-width: 768px) {
  .info-cards-wrapper {
    justify-content: center;
  }
}
.card-states {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #4f6354;
  font-size: 12px;
  margin-bottom: 12px;
}
.number-card {
  width: 260px;
  background: #fbfdf8 0% 0% no-repeat padding-box;
  border: 1px solid #eaf5ed;
  border-radius: 20px;
  padding: 18px;
}
.main-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #006d3d;
}
.main-numbers div span {
  font-size: 45px;
}
.main-numbers .number {
  font-size: 51px;
  font-weight: bold;
}
.main-numbers button {
  border: 1px solid #d8e8dd;
  border-radius: 16px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #006d3d;
  font-size: 16px;
}
.main-numbers.dangar,
button.dangar {
  color: #ba1a1a;
}
button.dangar {
  border: 1px solid #ffdad6;
}
.number-card p {
  font-size: 24px;
  color: #2c2c2c;
  font-weight: bolder;
}
.dates-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-date {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #808080;
}
.main-date div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.main-date div:nth-child(1) {
  font-size: 10px;
}
.main-date div:nth-child(2) {
  font-size: 12px;
  font-weight: bolder;
}
.number-cards-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
/* on tablet set justify conetcnt to center */
@media (max-width: 768px) {
  .number-cards-wrapper {
    justify-content: center;
  }
}
.info-card.big {
  min-height: 395px;
}
.info-card.big .info-card-content {
  top: 126px;
}
.info-card.big .info-card-content .simple-lite-button {
  border: 1px solid #d8e8dd;
  border-radius: 16px;
  width: 134px;
  height: 32px;
  font-size: 21px;
  color: #808080;
}
.info-card.big .info-card-content .simple-lite-button span {
  color: #4f6354;
}
.justify-content-between {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}
.card-cta.full-width {
  width: 100% !important;
}
.number-simple-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 168px;
  height: 176px;
  font-size: 19px;
  color: #2c2c2c;
  border-right: 1px solid #d8e8dd;
  /* border-bottom: 1px solid #d8e8dd; */
  position: relative;
}
/* remove right border from first child */
.number-simple-card:first-child {
  border-right: none;
}
.number-simple-card-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 0px;
}
.number-simple-card .large {
  font-size: 52px;
  font-weight: bold;
  color: #00210f;
}
.csv {
  padding: 11px 15px;
  border: 1px solid #d8e8dd;
  border-radius: 12px;
}
.csv div {
  color: #808080;
}
.csv div div p {
  color: #00210f;
  margin: 0;
  font-size: 19px;
  font-weight: bolder;
}
.csv span {
  color: #006d3d;
  font-size: 19px;
  font-weight: bolder;
}

.csv div div span {
  font-size: 13px;
  color: #4f6354;
}
.csv-wrapper {
  margin-top: 15px;
}
.csv-wrapper > * {
  margin-bottom: 10px;
}
