body {
  font-family: "Tatweer Al Riyadh", Tahoma, sans-serif;
  background: #fbfdf8;
}

.custom-dark-bg {
  background-color: #00210f !important;
}

.nav1-color {
  color: #d1e8d4 !important;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  background: #fbfdf8;
  border-radius: 12px;
}

input::placeholder {
  color: black;
}

.floating-email {
  padding: 1rem 0.75rem;
}

.navbar-brand {
  font-size: 40px;
  font-weight: lighter;
  color: #fbfdf8;
}

.dropdown-items {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.nav-2-background {
  background: #eaf5ed;
  opacity: 1;
}

.searchbar {
  padding: 15px;
  width: 206px;
  /* height: 40px; */
  /* UI Properties */
  background-color: #193927;
  border-radius: 6px;
  color: #d1e8d4;
  border: none;
}

.searchbar::placeholder {
  color: #9fa8a0;
  padding-left: 20px;
}
.searchbar:focus-visible {
  outline: none;
}

.form-tag {
  width: 100%;
  max-width: 630px;
  padding: 25px 30px;
  margin: auto;
  background: #eaf5ed;
  margin-top: 50px;
  border-radius: 10px;
}

.form-btn {
  margin-top: 30px;
}

.form-btn button {
  background: #006d3d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.nav-link {
  padding: 1.5rem !important;
}

.second-nav {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.second-nav a:hover {
  border-top: #00884e 5px solid;
  background: #d8e8dd;
}

.second-nav a {
  font-weight: 700;
  border-top: transparent 5px solid;
}

.heading {
  margin-top: 70px;
}

.heading h1 {
  font-size: 46px;
  font-weight: bold;
}

.sub-heading a {
  color: #006d3d;
  text-decoration: none;
}

.form-floating {
  margin-top: 20px;
}

.checkBox {
  margin-top: 30px;
  float: right;
}

.form-button {
  background: #006d3d;
  color: #ffffff;
  border-radius: 12px;
}

.third-page-form-button button {
  margin-top: 33px;
}

.bottom-heading {
  margin-top: 30px;
}

.bottom-heading a {
  text-decoration: none;
  color: black;
}

.top-form-para {
  margin-bottom: 90px;
}

.form-floating {
  margin-block: 10px;
}

small {
  float: right;
  font-size: 13.5px;
  letter-spacing: 0px;
  color: #4f6354;
  opacity: 1;
  margin-top: 5px;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: unset;
  padding-bottom: unset;
}

.input-group-text {
  padding: 1rem 1.75rem;
  text-align: end;
}

.checkbox-wrapper {
  margin-top: 80px;
}
.checkbox-wrapper div {
  text-align: start;
}

.input-group-text {
  background: #e0ede3;
  font-weight: 700;
}

input {
  text-align: end;
}

input::placeholder {
  color: #a3a3a3 !important;
  font-weight: 500;
}

.form-floating > .form-control ::placeholder {
  color: #00210f;
}

.signup-form {
  margin-bottom: 268px;
}

.form-signin {
  margin-bottom: 268px;
}

.form-control {
  appearance: auto;
}

.form-sec1:: {
  text-align: end !important;
}

.icon svg {
  color: white;
  position: relative;
  left: 40px;
}
